/* Reset some default styles for consistency */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and font for the entire page
body {
    background-color: #ffffff;
    font-family: aktivgrotesk-regular;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

/* Style the header section */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px;
    color: #1c1919;
}

.logo img {
    max-width: 180px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #070707;
}

main {
    padding: 20px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two items per row */
    grid-gap: 20px;
    grid-row-gap: 50px; /* Add 50px vertical gap between rows */
}

/* Style each work item container */
.work-item {
    position: relative; /* Position relative for absolute positioning of overlay */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px 0px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    max-height: 50%; /* Limit each work item to 50% of the height of main */
    overflow: auto; /* Add scrollbars if content exceeds 50% height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Style the image within each work item */
.work-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Style the overlay */
.work-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Opaque black background */
    opacity: 0; /* Initially hidden */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: opacity 0.3s; /* Add smooth transition */
}

/* Show the overlay on hover */
.work-item:hover .overlay {
    opacity: 1;
}

/* Style the text within the overlay */
.work-item .overlay-text {
    font-size: 18px;
    font-weight: bold;
}

/* Style the footer section */
footer {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    color: #333;
}

@media screen and (max-width: 837px) {
    main {
        grid-template-columns: repeat(1, 1fr); /* One item per row on smaller screens */
    }
}

/*! Fonts */

@font-face {
    font-family: 'aktivgrotesk-thin';
    src: url('fonts/aktivgrotesk-thin-webfont.woff2') format('woff2'),
         url('fonts/aktivgrotesk-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aktivgrotesk-xbold';
    src: url('fonts/aktivgrotesk-xbold-webfont.woff2') format('woff2'),
         url('fonts/aktivgrotesk-xbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aktivgrotesk-regular';
    src: url('fonts/aktivgrotesk-regular-webfont.woff2') format('woff2'),
         url('fonts/aktivgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aktivgrotesk-medium';
    src: url('fonts/aktivgrotesk-medium-webfont.woff2') format('woff2'),
         url('fonts/aktivgrotesk-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aktivgrotesk-light';
    src: url('fonts/aktivgrotesk-light-webfont.woff2') format('woff2'),
         url('fonts/aktivgrotesk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aktivgrotesk-hairline';
    src: url('fonts/aktivgrotesk-hairline-webfont.woff2') format('woff2'),
         url('fonts/aktivgrotesk-hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aktivgrotesk-bolditalic';
    src: url('fonts/aktivgrotesk-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/aktivgrotesk-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aktivgrotesk-bold';
    src: url('fonts/aktivgrotesk-bold-webfont.woff2') format('woff2'),
         url('fonts/aktivgrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aktivgrotesk-blackitalic';
    src: url('fonts/aktivgrotesk-blackitalic-webfont.woff2') format('woff2'),
         url('fonts/aktivgrotesk-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aktivgrotesk-black';
    src: url('fonts/aktivgrotesk-black-webfont.woff2') format('woff2'),
         url('fonts/aktivgrotesk-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}